body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
}

img{
    max-width: 100%;
    display: block;
}

/* ===========TYPOGRAPHY============== */

h1,
h2,
h3 {
    font-family: 'Lora', serif;
    color: #143774;
    font-weight: 400;
    margin-top: 0;
}
h1 {
    text-align: center;
    font-size: 2.1rem;
    margin-bottom: 0;
}
span{
    font-weight: 700;
    color: #707070;
}
a {
    color: #1792D2;
}
a:hover,
a:focus{
    color: #143774;
}
/* H1 subtitle */
.sub-title {
    text-align: center;
    font-size: 1rem;
    margin-top: 0;
    color: #1792D2;
    text-transform: uppercase;
}
/* H2 title */
.article-title{
    font-size: 1.5rem;
}
.article-read-more,
.article-date-com{
    font-size: 0.875rem;
}
.article-read-more{
    text-decoration: none;
    text-transform: uppercase;
    color: #1792D2;
    font-weight: bold;
}
.article-read-more:hover,
.article-read-more:focus{
    color: #143774;;
    text-decoration: underline;
}
.sidebar-widget-title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    font-family: 'Ubuntu', sans-serif;
}
.sidebar-widget-body{
    font-size: 0.875rem;
    color: #143774;
    line-height: 2em;
    word-spacing: 0.2em;
}
.sidebar-image-subtitle{
    font-size: 1rem;
}

/* ========== LAYOUT ========== */

header{
    width: 95%;
    margin: 0 auto;
    background-color: #f8f8f8;
    margin-bottom: 4em;
}
footer{
    background-color:#143774 ;
    color: white;
    padding: 2em 0;
    text-align: center;
    padding-left: 20em;
}
.container{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.container-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.tittle{
    padding: 0;
    margin: 0;
    font-weight: bold;
}



/* ======= NAVIGATION ========= */
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0.5em 0;
    text-align: center;
    flex-direction: column;
}
nav li{
    margin-left: 2em;
    margin-bottom: 1.5em;
}
nav a{
    text-decoration: none;
    color: #707070;
    font-weight: bold;
    padding: 0.25em 0;
}
nav a:hover,
nav a:focus{
    color: #1792D2;
    border-bottom: 3px solid #1792D2;
}

/* ARTICLE */

.curent-page{
    border-bottom: 1px solid #707070;
}

.article-date-com {
    margin: 2.5em 0;
}
.article-main{
    padding-bottom: 2em;
    border-bottom: 2px solid #707070;
    margin-bottom: 4em;
}
.article-sub{
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
.article-sub-primary{
    order: 2;
}
.article-sub-secondary{
    order: 1;
}


/* ============= MEDIA QUERY ============= */

@media (min-width:675px){
    .container-flex{
        flex-direction: row;
    }
    main{
        width: 70%;
    }
    aside{
        width: 25%;
        min-width: 200px;
        margin-left: 1em;
    }
    nav ul{
        flex-direction: row;
    }
    .article-sub{
        flex-direction: row;
        justify-content: space-between;
    }
    .article-sub-primary{
        width: 70%;
        
    }
    .article-sub-secondary{
        width: 25%;
    }
    .article-main{
        display: flex;
        flex-direction: column;
    }
    .article-main
    .article-image{
        order: -2;
    }
    .article-main
    .article-date-com{
        order: -1;
        text-align: left;
    }
    .article-image{
        width: 100%;
        min-height: 200px;
        object-fit: cover;
        /* object-position: left; */
    }
    .sidebar-widget{
        margin-top: 3em;
        margin-bottom: 10em;
        width: 75%;
    }
    .sidebar-image{
        width: 100%;
        height: 130px;
        object-fit: cover;
    }
    .widget-recent-post{
        margin-bottom: 2em;
        padding-bottom: .5em;
        border-bottom: 1px solid #707070;
    }
    .widget-recent-post:last-child{
        border: 0;
        margin: 0;
        padding: 0;
    }
    .about-me-image{
        width: 100%;
        max-height: 250px;
        object-fit: cover;
        margin-bottom: 3em;
    }
    .about-me-body{
        line-height: 1.5em;
        margin: 0.5em 0;
    }
    .about-me-subtitle{
        color: #1792D2;
        margin: 0.5em 0;
    }
    .article-main-about-me{
        border: 0;
    }
    
}
@media (min-width:550px){
    .article-sub-primary{
        margin-top: -3em;
    }
    .article-date-com{
        text-align: right;
    }
}


